@if(genres.length > 0){
<main
  class="w-full mx-auto p-6 space-y-6 min-h-screen bg-gradient-to-bl from-primary-900 via-secondary-800 to-primary-900 text-text-100"
>
  <form class="max-w-3xl mx-auto flex gap-4">
    <!-- Genre -->
    <div class="flex-1">
      <label for="genre" class="px-3 block mb-2 text-sm font-medium text-white"
        >Choose a genre</label
      >
      <select
        id="genre"
        name="genre"
        class="block py-2.5 px-3 w-full text-sm text-primary-800 bg-primary border-0 border-b-2 border-gray-200 appearance-none border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer rounded-md"
        [(ngModel)]="selectedGenreId"
        (change)="fetchOptions()"
      >
        @for (genre of genres; track $index) {
        <option [value]="genre.id">
          {{ genre.name }}
        </option>
        }
      </select>
    </div>

    <!-- Choose type -->
    <div class="flex-1">
      <div class="flex items-center gap-4">
        <label
          for="choose"
          class="px-3 block mb-2 text-sm font-medium text-white"
          >Choose:</label
        >
        <label class="px-3 block mb-2 text-sm font-medium text-white">
          <input
            type="radio"
            name="type"
            value="artists"
            [(ngModel)]="selectedType"
            (change)="onTypeChange()"
          />
          Artists
        </label>
        <label class="px-3 block mb-2 text-sm font-medium text-white">
          <input
            type="radio"
            name="type"
            value="albums"
            [(ngModel)]="selectedType"
            (change)="onTypeChange()"
          />
          Albums
        </label>
      </div>

      @if(selectedType == 'albums'){
      <select
        id="choose"
        name="choose"
        class="block py-2.5 px-3 w-full text-sm text-primary-800 bg-primary border-0 border-b-2 border-gray-200 appearance-none border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer rounded-md"
        (change)="onSelectionChange($event)"
      >
        @if (albums.length > 0) {
        <option value="" disabled selected>Choose an album</option>
        @for (album of albums; track $index) {
        <option [value]="album.id">
          {{ album.title }}
        </option>
        } }
      </select>
      }@else {
      <select
        id="choose"
        name="choose"
        class="block py-2.5 px-3 w-full text-sm text-primary-800 bg-primary border-0 border-b-2 border-gray-200 appearance-none border-gray-700 focus:outline-none focus:ring-0 focus:border-gray-200 peer rounded-md"
        (change)="onSelectionChange($event)"
      >
        @if (artists.length > 0) {
        <option value="" disabled selected>Choose an artist</option>
        @for (artist of artists; track $index) {
        <option [value]="artist.id">
          {{ artist.name }}
        </option>
        } }
      </select>
      }
    </div>
  </form>

  <!-- Songs Section -->
  <section>
    <h3 class="text-2xl font-semibold mb-4 text-white text-center">Songs</h3>
    <ul class="space-y-4">
      <div class="relative">
        <!-- Song cards -->
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          @for (song of songs; track $index) {
          <app-song-card [song]="song"></app-song-card>
          }
        </div>
      </div>
    </ul>
  </section>
</main>
}