<form
  [formGroup]="newAlbumForm"
  class="max-w-md mx-auto p-8 bg-gradient-to-br from-gray-800 to-purple-700 rounded-2xl shadow-xl space-y-6 text-white"
>
  <!-- Form Header -->
  <h2 class="text-2xl font-bold text-center mb-4">Create New Album</h2>

  <!-- Album Name -->
  <div>
    <label
      for="dropzone-file"
      [ngClass]="{
        'border-red-400':
          newAlbumForm.get('musicFile')?.touched &&
          newAlbumForm.get('musicFile')?.invalid,
        'border-gray-300':
          !newAlbumForm.get('musicFile')?.touched ||
          newAlbumForm.get('musicFile')?.valid
      }"
      class="flex flex-col items-center justify-center w-full h-full border-2 border-dashed rounded-lg cursor-pointer bg-secondary hover:bg-secondary-400"
    >
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg
          class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 16"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
          />
        </svg>
        <p class="mb-2 text-sm text-text">
          <span class="font-semibold">Click to upload</span> or drag and drop
        </p>
        <p class="text-xs text-text">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
      </div>
      <input
        type="file"
        id="dropzone-file"
        class="hidden"
        multiple
        (change)="onFileChange($event)"
      />
    </label>
    <label for="name" class="block text-sm font-semibold mb-1"
      >Album Name</label
    >
    <input
      id="name"
      type="text"
      formControlName="name"
      placeholder="Enter album name"
      class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-900 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-purple-400 sm:text-sm transition"
    />
  </div>

  <!-- Year -->
  <div>
    <label for="year" class="block text-sm font-semibold mb-1"
      >Release Date</label
    >
    <input
      id="year"
      type="date"
      formControlName="year"
      class="w-full px-4 py-2 rounded-lg border border-gray-300 bg-gray-900 text-white placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-purple-400 focus:border-purple-400 sm:text-sm transition"
    />
  </div>
</form>
