<main
  class="w-full mx-auto p-6 space-y-6 min-h-screen bg-gradient-to-bl from-primary-900 via-secondary-800 to-primary-900 text-text-100"
>
  <!-- Feed Section -->
  <section class="space-y-4">
    <h3 class="text-2xl font-semibold text-white text-center">Personal feed</h3>
    <div class="relative">
      <!-- Feed cards -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <app-feed-card *ngFor="let feed of feeds" [feed]="feed"></app-feed-card>
      </div>

      <!--PREV-->
      <button
        type="button"
        [disabled]="feedCurrentPage === 0"
        class="group absolute left-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-prev
        (click)="getPrevFeeds()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>

      <!--NEXT-->
      <button
        type="button"
        [disabled]="feedCurrentPage + 1 >= feedTotalPages"
        class="group absolute right-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-next
        (click)="getNextFeeds()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </section>

  <!-- Songs Section -->
  <section>
    <h3 class="text-2xl font-semibold mb-4 text-white text-center">Songs</h3>
    <ul class="space-y-4">
      <div class="relative">
        <!-- Song cards -->
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
        >
          <app-home-song-card
            *ngFor="let song of songs"
            [song]="song"
          ></app-home-song-card>
        </div>

        <!--PREV-->
        <button
          type="button"
          [disabled]="songsPrevDisabled"
          class="group absolute left-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
          data-carousel-prev
          (click)="getPrevSongs()"
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
          >
            <svg
              class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 1 1 5l4 4"
              />
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>

        <!--NEXT-->
        <button
          type="button"
          [disabled]="!songsNextToken"
          class="group absolute right-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
          data-carousel-next
          (click)="getNextSongs()"
        >
          <span
            class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
          >
            <svg
              class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 6 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m1 9 4-4-4-4"
              />
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </ul>
  </section>

  <!-- Albums Section -->
  <section class="space-y-4 relative">
    <h3 class="text-2xl font-semibold text-white text-center">Albums</h3>

    <div class="relative">
      <!-- Album cards -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <app-home-album-card
          *ngFor="let album of albums"
          [album]="album"
        ></app-home-album-card>
      </div>

      <!--PREV-->
      <button
        type="button"
        [disabled]="albumPrevDisabled"
        class="group absolute left-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-prev
        (click)="getPrevAlbums()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>

      <!--NEXT-->
      <button
        type="button"
        [disabled]="!albumsNextToken"
        class="group absolute right-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-next
        (click)="getNextAlbums()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </section>

  <!-- Artist Section -->
  <section class="space-y-4">
    <h3 class="text-2xl font-semibold text-white text-center">Artists</h3>
    <div class="relative">
      <!-- Artist cards -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <app-home-artist-card
          *ngFor="let artist of artists"
          [artist]="artist"
        ></app-home-artist-card>
      </div>

      <!--PREV-->
      <button
        type="button"
        [disabled]="artistsPrevDisabled"
        class="group absolute left-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-prev
        (click)="getPrevArtists()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>

      <!--NEXT-->
      <button
        type="button"
        [disabled]="!artistsNextToken"
        class="group absolute right-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-next
        (click)="getNextArtists()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </section>

  <!-- Genre Section -->
  <section class="space-y-4">
    <h3 class="text-2xl font-semibold text-white text-center">Genres</h3>
    <div class="relative">
      <!-- Genre cards -->
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
      >
        <app-home-genre-card
          *ngFor="let genre of genres"
          [genre]="genre"
        ></app-home-genre-card>
      </div>

      <!--PREV-->
      <button
        type="button"
        [disabled]="genresPrevDisabled"
        class="group absolute left-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-prev
        (click)="getPrevGenres()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"
            />
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>

      <!--NEXT-->
      <button
        type="button"
        [disabled]="!genresNextToken"
        class="group absolute right-0 top-1/2 -translate-y-1/2 z-30 flex items-center justify-center w-10 h-10 rounded-full cursor-pointer focus:outline-none disabled:cursor-not-allowed"
        data-carousel-next
        (click)="getNextGenres()"
      >
        <span
          class="inline-flex items-center justify-center w-10 h-10 rounded-full bg-secondary-500 group-hover:bg-secondary-400 group-focus:ring-4 group-focus:ring-secondary-400 group-disabled:bg-gray-500"
        >
          <svg
            class="w-4 h-4 text-white rtl:rotate-180 group-disabled:text-gray-300"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"
            />
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </section>
</main>
