<audio #audioPlayer></audio>
<div
  class="flex items-center my-1 justify-between bg-primary-700 hover:bg-primary-600 rounded-lg px-4 py-3 shadow transition"
>
  <!-- Song Info -->
  <a [routerLink]="'/song/' + song.id" class="flex items-center gap-3">
    <img
      [src]="song.imageUrl || 'https://via.placeholder.com/300'"
      [alt]="song.title + ' cover'"
      class="w-12 h-12 rounded-md object-cover shadow-md"
    />
    <div>
      <p class="text-text-100 font-medium">{{ song.title }}</p>
    </div>
  </a>

  <!-- Actions -->
  <div class="flex items-center gap-4">
    <button
      class="p-2 bg-secondary-700 hover:bg-secondary-600 rounded-full transition cursor-pointer"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6 text-text-100"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z"
        />
      </svg>
    </button>
  </div>
</div>
