<label
  class="flex flex-col items-center border border-2 border-white rounded-xl p-4 cursor-pointer hover:shadow-md transition has-[:checked]:border-secondary-300 has-[:checked]:bg-tertiary-300 w-48">

  <input type="radio" name="album" value="album1" class="hidden peer"/>

  <img
    src="https://upload.wikimedia.org/wikipedia/commons/1/1f/Compact_disc_album.jpg"
    alt="Abbey Road Album Cover"
    class="w-32 h-32 rounded-md object-cover mb-3 peer-checked:ring-4 peer-checked:ring-primary-500"
  />

  <!-- Album info -->
  <span class="text-center text-white peer-checked:text-primary-700 w-full font-bold text-lg">{{album.name}}</span>
  <span
    class="text-center text-white text-gray-500 peer-checked:text-primary-700 w-full text-sm">{{album.author}} - {{album.year}}</span>
  <span
    class="text-center text-white text-gray-400 peer-checked:text-primary-700 w-fulltext-xs">{{album.trackNum}} Tracks</span>
</label>
