<section class="space-y-2">
  <h3 class="text-2xl font-semibold text-text-100">Album</h3>
  <a
    [routerLink]="'/album/201'"
    class="flex items-center bg-gradient-to-bl from-primary-700 via-secondary-600 to-secondary-600 hover:from-primary-600 hover:via-secondary-500 hover:to-secondary-500 p-4 rounded-lg shadow hover:scale-102 hover:shadow-2xl transform transition duration-300 space-x-4"
  >
    <img
      [src]="album?.imageUrl"
      alt="Album Cover"
      class="w-28 h-28 object-cover rounded"
    />
    <div class="flex flex-col">
      <p class="font-semibold text-text-100 text-lg">{{ album?.title }}</p>
      <p class="text-text-400 text-sm">{{ album?.year }}</p>
    </div>
  </a>
</section>
