<div
  class="w-full h-screen bg-gradient-to-bl from-primary-900 via-secondary-800 to-primary-900 p-12"
>
  <div class="bg-primary-700 w-full h-full p-4 flex flex-col rounded-lg">
    <ol
      class="flex items-center w-full text-sm font-medium text-center text-text-500 sm:text-base"
    >
      <li
        class="flex md:w-full items-center sm:after:inline-block after:w-full after:h-1 after:border-b after:bg-gray-200 after:border-gray-200 after:border-1 after:mx-6 xl:after:mx-1"
      >
        <span
          class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200"
          [ngClass]="{
            'text-secondary-300': currentStep > 0,
            'text-text-600': currentStep <= 0
          }"
        >
          <svg
            *ngIf="currentStep > 0"
            class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            />
          </svg>
          <span *ngIf="currentStep === 0" class="me-2">1</span>
          File<span class="hidden sm:inline-flex sm:ms-2"> Upload</span>
        </span>
      </li>

      <li
        class="flex md:w-full items-center sm:after:inline-block after:w-full after:h-1 after:border-b after:bg-gray-200 after:border-gray-200 after:border-1 after:mx-6 xl:after:mx-1"
      >
        <span
          class="flex items-center after:content-['/'] sm:after:hidden after:mx-2 after:text-gray-200"
          [ngClass]="{
            'text-secondary-300': currentStep > 1,
            'text-text-600': currentStep <= 1
          }"
        >
          <svg
            *ngIf="currentStep > 1"
            class="w-3.5 h-3.5 sm:w-4 sm:h-4 me-2.5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"
            />
          </svg>
          <span *ngIf="currentStep <= 1" class="me-2">2</span>
          Song <span class="hidden sm:inline-flex sm:ms-2">Data</span>
        </span>
      </li>

      <li class="flex items-center">
        <span class="me-2">3</span>
        Confirmation
      </li>
    </ol>
    <div [ngSwitch]="currentStep$ | async" class="h-full w-full">
      <content-creation-file-upload-step *ngSwitchCase="0" />
      <content-creation-metadata-form *ngSwitchCase="1" />
      <content-creation-performer-album-step
        *ngSwitchCase="2"
        (onSubmit)="submit($event)"
      />
    </div>
  </div>
</div>
